.app-header {
    height: 64px;
    background: #1b1f2a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    color: #fff;
    border-bottom: 2px solid #2ec7d6;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #2ec7d6;
}
  